.slider {
  
  appearance: none;
  -webkit-appearance: none;
  display: inline-block;
  width: 240px;
  height: 15px;
  border-radius: 10px;
  background: linear-gradient(to right, #ff3717 50%, #d3d3d3 50%);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ff3717;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slider::-webkit-slider-thumb:hover {
  
  width: 30px;
  height: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slider::-webkit-slider-thumb:active {
  
  width: 32px;
  height: 32px;
  background: #ff2200;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slider_number {
  
  display: inline-block;
  margin-left: 5px;
}

#volume {
  
  color: #fff;
}