#div01 {

	width: 280px;
	height: 170px;

	background-color: red;
	transition: width 0.5s;
	transition: height 0.5s;
}


#div01:hover {

	width: 285px;
	height: 175px;

	background-color: red;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: box-shadow 0.5s;
}